.contact-part {
  margin: 90px 0;
}

.contact-top {
  margin-bottom: 50px;
}

.contact-top h5 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}
.contact-top h2 {
  color: #1f1632;
  font-size: 34px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
}

.contact-part input {
  background-color: #f1f3f6;
  border: none;
  outline: 0;
  margin-bottom: 30px;
  padding: 15px;
  color: #707070;
}
.contact-part input:focus {
  outline: 0;
}
.contact-part textarea {
  background-color: #f1f3f6;
  border: none;
  outline: 0;
  color: #707070;
  padding: 15px;
  margin-bottom: 25px;
}
.contact-part .button {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  background-color: #251d58;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s;
  display: block;
}
.contact-part .button:hover {
  background-color: #0b062e;
  color: #eee;
}
